{% extends "researchhub_app/base.html" %}

{% block content %}
<h2>Research Study List</h2>
{% if studies|length > 0 %}
	<table>
		<tr>
			<th>Title</th>
			<th>Institution</th>
			<th>Location</th>
			<th>Contact</th>
			<th>Additional Criteria</th>
			<th><acronym title="Institutional Review Board">IRB</acronym>#</th>
			<th><acronym title="Institutional Review Board">IRB</acronym> Proposal</th>
		</tr>
	{% for study in studies %}
		<tr>
			<td>{{ study.title }}</td>
			<td>{{ study.institution }}</td>
			<td>{{ study.location }}</td>
			<td>{{ study.contact_info }}</td>
			<td>{{ study.additional_criteria }}</td>
			<td>{{ study.irb_number }}</td>
			<td><a href="{{ study.irb_proposal.url }}">View</a></td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	{{ no_studies_msg }}
{% endif %}
{% endblock content %}
